{% extends "base.html" %}
{% load static %}
{% load blog_extras %}
{% block title %}Video Games Reviews{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% endblock %}

{% block content %}

    {% row "align-items-md-stretch" %}
    {% for post in posts %}
        {% col "col-md-6" %}
            {% div "container" %}
                <h3>{{ post.title }}</h3>
                {% include "blog/post-byline.html" %}
                <p>{{ post.summary }}</p>
                <p>
                    <b>({{ post.content|wordcount }} words)</b>
                    <a href="{% url "blog-post-detail" post.slug %}"><button class="btn" type="button">Read More</button></a>
                </p>
            {% enddiv %}
        {% endcol %}
    {% endfor %}
    {% endrow %}
{% endblock %}