
.navbar {
  background-color: #440047;
  color: white;
  border-bottom: 2px solid #E11D74;
}

.nav-link{
    text-decoration: none;
    list-style: none;
    color: white;
}

.navbar-brand, .fa-gamepad{
  text-decoration: none;
  list-style: none;
  color: white;
}